html,body{
    height: 100%;
}
body{
    font-family: Roboto , sans-serif;
    margin: 0;
    background: #aaa;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    width: 480px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}
.warining{
    display: flex;
    color :rgb(46, 111, 181);
    background-color: rgb(62, 229, 229);
    border-radius: 50%;
    padding:0;
    font-size: 24px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    font-weight: 700px;
}
.heading{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.cancel{
    font-weight: 400px;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 209, 209);
    border: 1px solid rgb(209, 209, 209);
    padding: 0;
}
.content{
    color: black;
    justify-content: center;
}
button{
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
}
.continue{
    background-color: rgb(78, 78, 212);
    color: white;
    border: 2px solid rgb(78, 78, 212);
}
.ruk{
    background-color: white;
    color: rgb(78, 78, 212);
    border: 1px solid rgb(126, 126, 167);
}
